/* Main Layout & Colors 🎨 - Adjust Colors to your liking*/


:root {
  --primary-yellow: #F8EC19;
  --primary-light-grey: #868A8E;
  --primary-dark-grey: #E8E8E8;
  --bzl-black: #2F2F2F;
  --bzl-white: white;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: var(--bzl-black);
  background-color: var(--bzl-white);
}


button {
  cursor: pointer;
}

/* Nav */
header ul {
  margin: 0;
  display: flex;
  height: 80px;

}

header ul li {
  height: 80px;
  line-height: 80px;
  cursor: pointer;
}

header ul li a {
  height: 80px;
  text-decoration: none;
  padding: 0 20px;
  display: block;
}

header ul li .active {
  text-decoration: underline;
}

header ul li:hover {
  background-color: var(--bzl-white);
}

header ul li:hover a {
  text-decoration: none;
  color: var(--bzl-black);
}

/* Footer */

footer {
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 80px;
}

footer p {
  margin: 0;
}
